#footer.container
  .row
    .small-12.columns
      hr
  .row
    .columns
      .copyright
        p © 2016 Geoffrey
    .columns.text-right
      a(href="https://twitter.com/geoff4l" target="_blank") @geoff4l
script(src="lib/jquery/dist/jquery.min.js")
script(src="lib/what-input/what-input.min.js")
script(src="lib/foundation-sites/dist/foundation.min.js")
script(src="lib/jquery_lazyload/jquery.lazyload.js")
script(src="app.js")
