head
  meta(charset="utf-8")/
  meta(http-equiv="x-ua-compatible" content="ie=edge")/
  meta(name="viewport" content="width=device-width, initial-scale=1.0")/
  title Pictionary Pics
  meta(name="description" content="We did pictionary at work, see what some of the people did. It will laugh I hope.")
  link(rel="shortcut icon" href="img/favicon16.png" sizes="16x16")/
  link(rel="shortcut icon" href="img/favicon32.png" sizes="32x32")/
  link(rel="shortcut icon" href="img/favicon152.png" sizes="152x152")/
  link(rel="stylesheet" href="css/style.css")/
  link(href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet")/
