.row
  .small-12.columns.text-center
    i(class="fa fa-pencil main-icon main-color" aria-hidden="true")
    h1 Pictionary Pics!
    p We played pictionary in the office, see what happened below. :)
    p Todo: Run the images through some vison api to see what it thinks the drawing is
.row
  .small-12.columns
    hr
